body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Center the container vertically and horizontally */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image:url('background_login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #fff; /* White background for the form container */
    padding: 2em;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center;
}

h1 {
    margin-bottom: 1em;
}

.toggle-buttons {
    margin-bottom: 1em;
}

.toggle-buttons button {
    padding: 0.5em 1em;
    margin: 0 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.toggle-buttons button:hover {
    background-color: #555; /* Darker background on hover */
}

form {
    display: none; /* Hide forms by default */
}

form h2 {
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

form button {
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

#loginForm {
    display: block; /* Show the login form by default */
}
